# Auth0 Configuration
EXPO_PUBLIC_AUTH0_DOMAIN=your-auth0-domain.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=your-auth0-client-id
EXPO_PUBLIC_AUTH0_AUDIENCE=your-api-identifier

# Backend Configuration
# Production: https://likeme-back-end-one.vercel.app
# Staging: https://likeme-back-end-git-staging-pixel-pulse-labs.vercel.app
EXPO_PUBLIC_BACKEND_URL=https://likeme-back-end-one.vercel.app/

# Auth Settings
EXPO_PUBLIC_USE_AUTH_PROXY=true
EXPO_PUBLIC_AUTH_SCHEME=likeme
EXPO_PUBLIC_AUTH_PROXY_URL=https://auth.expo.dev/@pixelpulselab/likeme-front-end
EXPO_PUBLIC_AUTH_PROXY_PROJECT=@pixelpulselab/likeme-front-end
EXPO_PUBLIC_AUTH_REDIRECT_PATH=auth